{{ define "header" }}
   {{/* We can override any block in the baseof file be defining it in the template */}}
  {{ partial "page-header.html" . }}
{{ end }}

{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <article class="flex-l flex-wrap justify-between mw8 center ph3">
    <header class="mt4 w-100">
      <h1 class="f1 athelas mt3 mb1">
        {{- .Title -}}
      </h1>

    </header>
    <div class="nested-copy-line-height lh-copy {{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links {{ $.Param "text_color" | default "mid-gray" }} {{ cond (eq $.Site.Language.LanguageDirection "rtl") "pl4-l" "pr4-l" }} w-two-thirds-l">
      {{- .Content -}}
      {{ $NT := resources.Get "downloads/NewTestament.zip" }}
      {{ $p1txt := resources.Get "downloads/panel1.txt" }}
      {{ $Eclipse := resources.Get "downloads/EclipseOfTheMoon.zip" }} 
      {{ $p2txt := resources.Get "downloads/panel2.txt" }}
      {{ $Snowflakes := resources.Get "downloads/NewTestament.zip" }}
      {{ $p3txt := resources.Get "downloads/panel3.txt" }}
      {{ $Map := resources.Get "downloads/NewTestament.zip" }}
      {{ $p4txt := resources.Get "downloads/panel4.txt" }}
      {{ $MoonType := resources.Get "downloads/NewTestament.zip" }}
      {{ $p5txt := resources.Get "downloads/panel5.txt" }}
      {{ $Hamlet := resources.Get "downloads/NewTestament.zip" }}
      {{ $p6txt := resources.Get "downloads/panel6.txt" }}
      <ol>
        <li>Welcome to &quot;Touch This Page!&quot;</li>
            <ul>
                <li><a href="{{ $NT.Permalink}}">Printing Model for the New Testament</a></li>
                <li><a href="{{ $p1txt.Permalink}}">Text file for Panel 1</a></li>
            </ul>
        <li>Samuel Gridley Howe and Universal Design</li>
            <ul>
                <li><a href="{{ $Eclipse.Permalink}}">Printing model for the Eclipse of the Moon</a></li>
                <li><a href="{{ $p2txt.Permalink}}">Text file for Panel 2</a></li>
            </ul>
        <li>Reading Raised Print</li>
            <ul>
                <li><a href="{{ $Snowflakes.Permalink}}">Printing Model for the Snowflakes</a></li>
                <li><a href="{{ $p3txt.Permalink}}">Text file for Panel 3</a></li>
            </ul>   
        <li>Samuel Gridley Howe: Hero or Villain&quest;</li>
            <ul>
                <li><a href="{{ $Snowflakes.Permalink}}">Printing Model for the Map of Massachusetts</a></li>
                <li><a href="{{ $p4txt.Permalink}}">Text file for Panel 4</a></li>
            </ul>    
        <li>The Cost of Success</li>
            <ul>
                <li><a href="{{ $Snowflakes.Permalink}}">Printing Model for the Lord's Prayer in Moon Type</a></li>
                <li><a href="{{ $p5txt.Permalink}}">Text file for Panel 5</a></li>
            </ul>   
        <li>Tactile Reading Today—and Tomorrow</li>
            <ul>
                <li><a href="{{ $Snowflakes.Permalink}}">Printing Model for the soliloquy from <i>Hamlet</i></a></li>
                <li><a href="{{ $p6txt.Permalink}}">Text file for Panel 6</a></li>
            </ul>   
      </ol>
    </div>

  </article>
{{ end }}
