<footer class="orangefooter bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="black-visited f4 fw4 hover-white no-underline dn dib-ns pv2 ph3" href="{{ .Site.Home.Permalink }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
  <style>
    .orangefooter {
      background-color: #e37f00;
    }
    a.black-visited:visited {color: #000000;}
  </style>
</footer>
